#display{
background-color: #4cd137;
margin: 0 0 15px;
padding:0;
list-style: none;

}
#display li{
 display:inline-block;
}
#display li a{
 display: inline-block;
  padding: 12px 15px;
   text-decoration: none;
   color:white;
}
#display li a:hover{
 background:#c23616;
}
